<!-- City Selection -->
<div class="modal modal--city">
  <div class="modal__content modal-city">
    <button class="modal__close-button" type="button">
      <span class="visually-hidden">Закрыть окно</span>
    </button>
    <h2 class="modal__heading">Ваш город</h2>
    <div class="modal-city__detect">
      <svg class="modal-city__detect-icon" width="20" height="20" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-detect"></use>
      </svg>
      <a class="modal-city__link modal__link" href="#">Определить местоположение</a>
    </div>
    <span class="modal__text modal-city__choose-sign">... или выберите вручную</span>
    <ul class="modal__city-list city-list">
      <li class="city-list__item">
        <a class="city-list__link city-list__link--active">Новосибирск</a>
      </li>
      <li class="city-list__item">
        <a class="city-list__link" href="#">Иркутск</a>
      </li>
      <li class="city-list__item">
        <a class="city-list__link" href="#">Смоленск</a>
      </li>
      <li class="city-list__item">
        <a class="city-list__link" href="#">Волгоград</a>
      </li>
      <li class="city-list__item">
        <a class="city-list__link" href="#">Комсомольск-на-Амуре</a>
      </li>
    </ul>
  </div>
</div>
