.city-list {
  @include list-reset();
}

.city-list__item {
  padding-bottom: 20px;
}

.city-list__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.32;
}

.city-list__link:hover {
  opacity: 1;
}

.city-list__link--active {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: $accent-color;
}
