.genre-list {
  @include list-reset();
  margin-left: -40px;
  display: flex;
  // overflow: hidden;
}

.genre-list__item {
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.32);

  &:last-child {
    border-right: 0;
  }
}

.genre-list__item-wrap {
  display: flex;
  min-height: 40px;
  justify-content: center;
}

.genre-list__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $main-color;

  &:hover {
    color: $accent-color;
  }

  &--current:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.genre-list__title {
  position: relative;
  margin-left: 12px;
  display: inline-block;

  &--current::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $accent-color;
  }
}

@media (max-width: $tablet-width) {
  .genre-list {
    position: relative;
    margin-left: -16px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .genre-list::-webkit-scrollbar {
    display: none;
  }

  .genre-list__item-wrap {
    justify-content: stretch;
    min-height: 32px;
  }

  .genre-list__item {
    padding: 0 16px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .genre-list__icon {
    height: 24px;
    // width: auto;
  }
}
