.main-program {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.main-program__title {
  margin-top: -10px;
  margin-bottom: 30px;
  width: 48%;
}

.main-program__description {
  margin-bottom: 90px;
  width: 43%;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: $main-color;
}

.main-program__button {
  padding: 22px 52px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 50px;
  color: #FFFFFF;
  background-color: $accent-color;
}
