.main-nav {
  display: flex;
}

.main-nav__list {
  @include list-reset();
}

.main-nav__toggle {
  display: none;
}

.main-nav__menu-title {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-nav {
    padding-top: 65px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(163.84deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
  }

  .main-nav__list {
    order: 2;
  }

  .main-nav__toggle {
    z-index: 2;
    position: absolute;
    top: 33px;
    right: 16px;
    display: block;
    width: 80px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .main-nav__menu-title {
    position: absolute;
    top: 0;
    right: 28px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #f0f0f0;
  }

  .main-nav--closed {
    background: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 14px 0 0 #ffffff;
  }

  .main-nav--closed .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 4px;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
  }

  .main-nav--opened .main-nav__menu-title {
    top: 2px;
  }

  .main-nav--opened .main-nav__toggle {
    top: 31px;
    right: 16px;
    width: 80px;
    height: 18px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .menu__item {
    display: none;
  }

  .main-nav--closed .page-header__contacts {
    display: none;
  }

  .main-nav--closed .page-footer {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .menu__item {
    display: block;
  }
}
