.main-program {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.main-program__title {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 48%;
}

.main-program__description {
  margin-bottom: 70px;
  width: 43%;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: $main-color;
}

.main-program__button {
  display: inline-block;
  padding: 22px 52px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 50px;
  color: #ffffff;
  background-color: $accent-color;
}

.main-program__button:hover {
  background-color: #f39425;
}

@media (max-width: $tablet-width) {
  .main-program__title {
    width: 100%;
  }

  .main-program__description {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .main-program {
    text-align: center;
    transform: translate(-50%, 50%);
  }

  .main-program__title {
    width: 100%;
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
  }

  .main-program__description {
    display: none;
  }

  .main-program__button {
    margin-top: 5px;
    padding: 15px 32px;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
  }
}
