.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3d3333;
}

.modal--show {
  display: block;
}

// .modal--ask {
//   display: block;
// }

.modal__content {
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  // padding-bottom: 0;
  // background: linear-gradient(0deg, #141414 0%, #1F1D1D 100%);
  background-color: #1f1d1d;
  border-radius: 3px;
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  top: 36px;
  right: 32px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  opacity: 0.5;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__heading {
  margin-top: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
}

.modal__link {
  font-size: 17px;
  line-height: 160%;
  color: $main-color;
  text-decoration: underline;
}

.modal__link:hover {
  color: #ffffff;
}

.modal__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}

.modal-city__detect {
  // margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.modal-city__detect-icon {
  margin-right: 10px;
}

.modal__city-list {
  margin-top: 20px;
  margin-bottom: 32px;
}

@media (max-width: $mobile-width) {
  .modal {
    background: linear-gradient(0deg, #141414 0%, #1F1D1D 100%);
    // opacity: 1;
  }

  .modal__content {
    padding: 16px;
    width: 100%;
    height: 100%;
  }

  .modal__heading {
    margin-top: 16px
    ;
  }

  .modal__close-button {
    right: 16px;
  }

}
