.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 51, 51, 0.9);
}

.modal--show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  padding: 32px;
  position: relative;
  width: 480px;
  background-color: #1f1d1d;
  border-radius: 3px;
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  top: 38px;
  right: 32px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  opacity: 0.5;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__heading {
  margin-top: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
}

.modal__link {
  font-size: 17px;
  line-height: 170%;
  color: $main-color;
  border-bottom: 1px solid $main-color;
  opacity: 0.9;

  &:hover {
    color: #ffffff;
    opacity: 1;
  }
}

.modal__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}

.modal-city__detect {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
}

.modal-city__detect-icon {
  margin-right: 12px;
}

.modal-city__choose-sign {
  margin-bottom: 19px;
  display: inline-block;
  font-size: 17px;
  line-height: 160%;
}

@media (max-width: $mobile-width) {
  .modal {
    background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
  }

  .modal__content {
    padding: 16px;
    width: 100%;
    height: 100%;
  }

  .modal__heading {
    margin-top: 16px;
  }

  .modal__close-button {
    right: 16px;
  }
}
