.page-footer {
  position: fixed;
  padding-bottom: 18px;
  bottom: 0;
  left: 32px;
  right: 32px;
  display: flex;
  align-items: center;
}

.page-footer__social {
  flex-grow: 1;
}

.page-footer__ask-link {
  padding-bottom: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 144%;
  color: $main-color;
  text-decoration: none;
  border-bottom: 1px $main-color dashed;
}

.page-footer__ask-link:hover {
  color: $accent-color;
  border-bottom: 1px $accent-color dashed;
}

@media (max-width: $mobile-width) {
  .page-footer {
    display: none;
    padding-bottom: 28px;
    left: 16px;
    right: 16px;
    align-items: flex-start;
  }

  .page-footer__ask-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }

}
