.page-footer {
  z-index: 2;
  position: fixed;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, #131212 100%);
}

.page-footer--main {
  background: none;
}

.page-footer__social {
  flex-grow: 1;
}

.page-footer__ask-link {
  padding-bottom: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 144%;
  color: $main-color;
  text-decoration: none;
  border-bottom: 1px $main-color dashed;

  &:hover {
    color: $accent-color;
    border-bottom: 1px $accent-color dashed;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-bottom: 28px;
    padding-left: 16px;
    padding-right: 16px;
    left: 0;
    right: 0;
    align-items: flex-start;
  }

  .page-footer__ask-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }

}
