.page-header {
  z-index: 2;
  padding-top: 20px;
  position: fixed;
  left: 32px;
  right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-wrap {
  width: 250px;
}

.page-header__nav {
  flex-grow: 1;
}

.page-header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  min-width: 250px;
}

.page-header__location {
  margin-right: 26px;
  display: flex;
  align-items: center;
}

.page-header__city-link {
  padding: 2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $accent-color;
}

.page-header__city-link:hover {
  text-decoration: none;
  border-bottom: 1px $accent-color dashed;
}

.page-header__city-icon {
  margin-right: 8px;
  fill: $accent-color;
}

.page-header__phone {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

.page-header__logo {
  display: inline-block;
}

.page-header__logo-image {
  width: 134px;
  height: 52px;
}

@media (max-width: $tablet-width) {
  .page-header {
    left: 16px;
    right: 16px;
    flex-direction: column;
    align-items: stretch;
  }

  .page-header__nav {
    order: 2;
  }

  .page-header__logo {
    width: 96px;
    height: 36px;
  }

  .page-header__logo-image {
    height: 38px;
  }

  .page-header__contacts {
    margin-bottom: 80px;
    margin-top: 32px;
    position: relative;
    width: auto;
    flex-direction: column;
    order: 1;
  }

  .page-header__contacts::after {
    position: absolute;
    content: "";
    bottom: -42px;
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.16);
  }

  .page-header__contacts--closed {
    display: none;
  }

  .page-header__location {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
