.quests {
  @include list-reset();
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.quests__item {
  margin-bottom: 2%;
  margin-right: 2%;
  position: relative;
  width: 32%;

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    width: 100%;
    height: 70%;
    pointer-events: none;
    background: linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.quests__image-box {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.quests__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.quests__item-link {
  display: block;
  color: white;
}

.quests__hit-box {
  position: absolute;
  top: 15px;
  right: 19px;
  display: flex;
  align-items: center;
  border: 2px solid rgba(242, 137, 15, 0.74);
  border-radius: 25px;
}

.quests__hit-icon {
  fill: $accent-color;
  margin-left: 14px;
}

.quests__hit {
  padding: 4px 12px 2px 3px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 144%;
}

.quests__info {
  padding: 0 20px;
  z-index: 1;
  position: absolute;
  bottom: 12%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 13px;
  line-height: 144%;
  color: $main-color;
}

.quests__name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}

.quests__details {
  display: flex;
}

.quests__address-line,
.quests__people-line,
.quests__difficulty-line {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.quests__address-line {
  margin-bottom: 6px;
}

.quests__people-line {
  margin-right: 12px;
}

.quests__address {
  margin-left: 9px;
}

.quests__address-icon {
  fill: $accent-color;
}

.quests__people {
  position: relative;
  margin-left: 8px;
  padding-right: 13px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.quests__difficulty {
  margin-left: 8px;
}

@media (max-width: $tablet-width) {
  .quests__item {
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .quests {
    flex-direction: column;
  }

  .quests__item {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    min-height: 232px;
  }

  .quests__info {
    bottom: 9%;
  }

  .quests__hit-box {
    right: 15px;
  }
}
