.quest-select {
  margin: 0 auto;
  width: 80%;
  padding-top: 120px;
}

.quest-select__title {
  margin-bottom: 45px;
}

.quest-select__genre-list {
  // width: 90%;
  // margin-left: 110px;
  // padding: 100px;
  // border: 1px solid red;
}
