.title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
  color: #ffffff;
}

.button {
  // display: inline-block;
  padding: 15px 32px;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  background-color: $accent-color;
}

.button:disabled {
  background-color: #b8b8b8;
}
