.title {
  margin-top: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
  color: #ffffff;
}

.button {
  padding: 15px 32px;
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  background-color: $accent-color;
}

.breadcrumb {
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  color: $accent-color;
}

.button:disabled {
  background-color: #b8b8b8;
}

.back-link {
  display: none;
}

@media (max-width: $mobile-width) {
  .title {
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
  }

  .back-link {
    padding-left: 14px;
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.02em;
    color: $main-color;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      content: "";
      width: 6px;
      height: 10px;
      background-image: url("../img/icon-back.svg");
      background-size: cover;
    }
  }
}


